<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" ></script>
</head>
<body>
    <div class="container">
        <h2>Boardgame search</h2>
        <form action="/index/search">
            <label for="name">Name your game</label>
            <input type="text" id="name" name="name"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="container" th:if="${GameList != null}">
        <h2>Ergebnisliste</h2>
<!--        <p th:text="'Die Suche ergab ' + ${GameList.getGames().size()} + ' Treffer'" >Searchresults</p>-->
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Spielerzahl</th>
                <th>Spieldauer</th>
            </thead>
            <tbody>
                <tr  th:each="game: ${GameList.getGames()}">
                    <td th:text="${game.getName()}">Exploding Kittens</td>
                    <td th:text="${game.getMin_players()}+'-'+${game.getMax_players()}+' Spieler'">2-6</td>
                    <td th:text="${game.getMin_playtime()}+'-'+${game.getMax_playtime()}+' min'">15-60</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>